@{
    ViewBag.Title = "主页";
}
<table id="dg1" title="My Users" class="easyui-datagrid" style="width:100%;height:750px"
       url="../../Admin/index/GetProductListData"
       toolbar="#toolbar"
       rownumbers="true" fitcolumns="true" singleselect="true" pagination="true">
    <thead>
        <div id="tb" style="padding:3px">
            <span>Item ID:</span>
            <input id="itemid" style="line-height:26px;border:1px solid #ccc">
            <span>Product ID:</span>
            <input id="productid" style="line-height:26px;border:1px solid #ccc">
            <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">Search</a>
            <a href="#" class="easyui-linkbutton" plain="true" onclick="reset()">reset</a>
        </div>
        @*<div id="tb" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-cut" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true"></a>
            </div>
            <div>
                Date From: <input class="easyui-datebox" style="width:80px">
                To: <input class="easyui-datebox" style="width:80px">
                Language:
                <input class="easyui-combobox" style="width:100px"
                       url="data/combobox_data.json"
                       valuefield="id" textfield="text">
                <a href="#" class="easyui-linkbutton" iconcls="icon-search">Search</a>
            </div>
        </div>*@
        <tr>
            <th field="itemid" sortable="true" width="50">Itemid</th>
            <th field="productid" sortable="true" width="50">Productid</th>
            <th field="listprice" sortable="true" width="50">Listprice</th>
            <th field="unitcost" sortable="true" width="50">Unitcost</th>
            <th field="attr1" width="50">Attr1</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newUser()">New User</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
</div>
<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <div class="ftitle">User Information</div>
    <form id="fm" method="post">
        <div class="fitem">
            <label>Itemid:</label>
            <input name="itemid" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>Productid:</label>
            <input name="productid" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>Listprice:</label>
            <input name="listprice">
        </div>
        <div class="fitem">
            <label>Unitcost:</label>
            <input name="unitcost" class="easyui-validatebox" validtype="">
        </div>
        <div class="fitem">
            <label>Attr1:</label>
            <input name="attr1" class="easyui-validatebox">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="saveUser()">Save</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>

<script>
    function doSearch() {
        $('#dg1').datagrid('load', {
            itemid: $('#itemid').val(),
            productid: $('#productid').val()
        });
    };
    function reset() {
        $('#itemid').val("");
        $('#productid').val("");
        $('#dg1').datagrid('load', {
            itemid: $('#itemid').val(),
            productid: $('#productid').val()
        });
    }
</script>
<script>
    function newUser() {
        $('#dlg').dialog('open').dialog('setTitle', 'New User');
        $('#fm').form('clear');
        url = '../../Admin/index/SaveProductData';
    }
    function editUser() {
        var row = $('#dg1').datagrid('getSelected');
        if (row) {
            $('#dlg').dialog('open').dialog('setTitle', 'Edit User');
            $('#fm').form('load', row);
            url = "../../Admin/index/UpdateProductData";
        }
    }
    function saveUser() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.errorMsg) {
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg').dialog('close');		// close the dialog
                    $('#dg1').datagrid('reload');	// reload the user data
                }
            }
        });
    }
    function destroyUser() {
        var row = $('#dg1').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Confirm', 'Are you sure you want to destroy this user?', function (r) {
                if (r) {
                    $.post('../../Admin/index/DestroyProduct', { id: row.itemid }, function (result) {
                        if (result == 1) {
                            $('#dg1').datagrid('reload');	// reload the user data
                        } else {
                            $.messager.show({	// show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        }
                    }, 'json');
                }
            });
        }
    }
</script>



