@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Plugs/EasyUi/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Plugs/EasyUi/Css/icon.css" rel="stylesheet" />
    <title>登录</title>
    <style>
        p, h1 {
            margin: 0px;
        }

        .ck-container {
            height: 910px;
            width: 100%;
            text-align: center;
        }

        .ck-title {
            text-align: center;
            color: rgba(2,117,216,1);
        }

        .VerCode {
            width: 80px;
            height: 24px;
        }

        .login-form {
            width: 100%;
            margin: 0 auto;
        }

        .ck-td {
            width: 100%;
            display: flex;
            align-items: center;
        }

        .ck-table {
            width: 65%;
        }

        #code {
            font-size: 12px;
        }

        .block {
            height: 200px;
            width: 100%;
        }

        .panel {
            display: inline-block !important;
        }

        .ck-middle {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="ck-container">
        <div class="ck-title">
            <h1>南京创客平台后台管理系统</h1>
        </div>
        <div class="block">

        </div>
        <div class="easyui-panel" title="用户登录" style="width:350px;">
            <form id="ff" method="post" class="login-form">
                <table cellpadding="5" class="ck-table">
                    <tr>
                        <td class="ck-td">
                            <label for="email">邮箱:</label>
                            <input id="email" class="easyui-validatebox ck-input" type="text" name="email" data-options="required:true,validType:'email'" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ck-td">
                            <label for="name">密码:</label>
                            <input id="pwd" class="easyui-validatebox ck-input" type="password" name="pwd" data-options="required:true,validType:'password',delay:300" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ck-td">
                            <label for="code" id="code">验证码:</label>
                            <input id="verifyCode" class="easyui-validatebox ck-input" type="text" name="verifyCode" data-options="required:true,validType:'Length[4]',delay:300" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ck-middle">
                            <img id="ck-imgcode" class="VerCode" src=" " />
                            <a class="easyui-linkbutton ck-button" onclick="restimg()">看不清？换一张</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="ck-middle">
                            <input id="autoLogin" type="checkbox" class="ck-checkbox easyui-validatebox" name="autoLogin" />
                            <label for="autologin">记住密码</label>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="ck-a" style="text-align:left">
                <a href="../../Admin/UserAdmin/register" class="easyui-linkbutton">注册</a>
                <a href="../../Admin/UserAdmin/forgotpassword" class="easyui-linkbutton">忘记密码</a>
            </div>
            <div class="ck-submit" style="text-align:left;padding:5px">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">登录</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Plugs/EasyUi/jquery.easyui.min.js"></script>
<script src="~/Plugs/EasyUi/locale/easyui-lang-zh_CN.js"></script>
<script src="~/Scripts/utils.js"></script>
<script>
    $(function(){
        restimg();
    });
    //自定义验证规则
    $.extend($.fn.validatebox.defaults.rules, {
        password: {
            validator: function (value) {
                var autoby =/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,10}$/.test($.trim(value));
                return autoby
            },
            message: '密码要求必须包含数字、字母，6-10位'
        },
        Length: {
            validator: function (value) {
                return value.length == 4;
            },
            message: 'Please enter at least {0} characters.'
        }
    });
    //提交表单数据
    function submitForm() {
        //$("#ff").form('submit', {
        //    url: "../../Admin/Login/CheckLoginInfo",
        //    onSubmit: ,
        //    success: function (data) {
        //        var dataobject= $.parseJSON(data);
        //        alert(dataobject.Msg);
        //    }
        //});
        var checkform = function () {
            var val=$(this).form('validate')
            return val;
        };
        if(checkform){
            var emailtext=$('#email').val();
            var pwdtext = $('#pwd').val();
            var codetext=$('#verifyCode').val();
            var autoLogintext=$('#autoLogin').is(':checked');
            $.ajax({
                url:"../../Admin/Login/CheckLoginInfo",
                type:"Post",
                data:{email:emailtext,pwd:pwdtext,verifyCode:codetext,autoLogin:autoLogintext},
                dataType:"Json",
                success:function(data){
                    alert(data.Msg);
                    $(location).attr('href', '../../Admin/Index/Index');
                },
                error:function(data){
                    alert(data.Msg);
                }
            });
        }

    };
    //重新获取验证码
    function restimg() {
        $('#ck-imgcode').attr('src','/Login/GetVerifiedCode?time='+Math.random());
    }
</script>
